<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Passkeys Auth</title>
    <!-- UMD bundle of @simplewebauthn/browser for modern browsers -->
    <script
      src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"
      integrity="sha384-...YOUR_HASH..."
      crossorigin="anonymous"
    ></script>
    <!-- If you need ES5 support for legacy browsers, swap to this: -->
    <!--
    <script
      src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.es5.umd.min.js"
      integrity="sha384-...YOUR_HASH..."
      crossorigin="anonymous"
    ></script>
    -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>